.dropdown__container {
    margin-bottom: 1rem; /* Espacement entre les dropdowns */
    border-radius: 5px; /* Arrondir les bords */
    overflow: hidden; /* Pour éviter le débordement */
    width: 100%;
}

.dropdown__title {
    padding: 0 1rem;
    background-color: #FF6060; /* Couleur d'arrière-plan */
    cursor: pointer; /* Change le curseur au survol */
    font-size: 15px;
    display: flex;
    justify-content: space-between; /* Aligne le texte et l'icône */
    align-items: center;
    height: 54px;
    color: white;
}

.dropdown__content {
    padding: 1rem; /* Espacement pour le contenu */
    background-color: rgba(246, 246, 246, 0.45); /* Couleur de fond du contenu */
    color: black;

}
.dropdown__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
}

.arrow-icon {
    font-size: 25px; 
}

