.ficheLogement-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page occupe toute la hauteur de la fenêtre */
}
.ficheLogement-container {
    margin: 0 5rem;
    @media screen and (max-width: 768px) {
        width: 100vw;
        margin: 0;
        padding: 10px;
    }
}

.description-header {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    
}

.description__title {
    &-logement {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        margin: 0.7rem 0;
        white-space: nowrap;
        @media screen and (max-width: 768px) {
            font-size: 18px;
            white-space: wrap;
        }
    }

    &-location {
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }


}

.information__hote {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3%;
    @media screen and (max-width: 768px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &-nameImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3%;
        @media screen and (max-width: 768px) {
            width: 93px;
        }
    }

    &-name {
        color: #FF6060;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
        margin-right: 10px;
        text-align: right;
        width: 93px;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }

    &-img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        @media screen and (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
    }
}
.description__hote-rating{
    .rate{
        .etoile{
            height: 18px;
            width: 18px;
        }
    }
       
    

}
.tags {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-bottom: 2rem;
    white-space: wrap;
}

.tag {
    background-color: #FF6060;
    border-radius: 14px;
    font-size: 14px;
    color: white;
    height: 25px;
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 17px;
    white-space: nowrap;
    @media screen and (max-width: 768px) {
       font-size: 10px; 
       height: 18px;
       overflow: hidden;
       border-radius: 5px;
       padding: 0;
    }

}

.dropdown__logement {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-bottom: 5%;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 1rem;
    }

    &-description {
        width: 100%;
    }

    &-equipement {
        width: 100%;
    }

}

.list-equipement {
    list-style-type: none;
}