.home_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    grid-gap: 30px; /* Espace entre les éléments de la grille */
    margin: 2rem auto;
    background-color: rgba(200, 200, 200, 0.5); /* Couleur gris transparent */
    padding:40px 15px; /* Espacement intérieur */
    border-radius: 25px; /* Coins arrondis pour le fond */
    max-width: 1240px;
    @media screen and (max-width: 780px) {
        grid-template-columns: repeat(1, 1fr); /* 1 colonne sur mobile */
        margin: 1.5rem auto;
        padding: 10px;
        max-width: 100%;
        background-color: transparent;
        grid-gap: 1px;
    }

   
}

.home_gallery article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
