.home_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    grid-gap: 16px; /* Espace entre les éléments de la grille */
    margin: 2rem; /* Marges autour de la galerie */
    background-color: rgba(200, 200, 200, 0.5); /* Couleur gris transparent */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis pour le fond */

   
}

.home_gallery article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
