.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 2rem 4rem;
}

.navbar__logo img {
    font-size: 40px;
}

.navbar__links {
    display: flex;
    gap: 2rem; /* Espace entre les liens */
    cursor: pointer;
   
}

.navbar__links-item{
    color: black;
    text-decoration: none;
}

